<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/somecss.css">
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1>Database Deleted</h1>
  </body>
</html>
