<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Bloodonatzo - Login</title>
  <!-- Favicon -->
  <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="./assets/css/argonindex.css?v=1.0.0" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="/index">
          <img src="../assets/img/brand/white.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/white.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main"
                  aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/register">
                <i class="ni ni-circle-08"></i>
                <span class="nav-link-inner--text">Register</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/login">
                <i class="ni ni-key-25"></i>
                <span class="nav-link-inner--text">Login</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8" style="height: 100vh">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div style="padding-top: 4rem;margin-bottom: 2rem">
              <h1 style="color: whitesmoke;text-align: left;font-size: 5rem; font-family: 'Montserrat', sans-serif">
                Bloonatio
              </h1>
              <p style="color: whitesmoke;font-size: 1rem">Bloonatio is a web-app which helps increase transparency in the process of blood circulation across the nation.
We have brought a web-app which helps keep track of all the blood quantity in a blood bank with free user access to know whether or their blood has been properly donated or not..</p>
            </div>
            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto" style="margin-bottom: 2rem" action="/transactions"
              method="post">
              <div class="form-group mb-0" style="width: 100%">
                <div class="input-group input-group-alternative" style="width: 100%">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <button type="submit" style="background-color: transparent;border: none;backface-visibility: hidden;color: white">
                        <i class="fas fa-search"></i>
                      </button>

                    </span>
                  </div>
                  <input class="form-control" placeholder="Search" type="text" name="tranid">
                </div>
              </div>
            </form>
            <ul type="none">
              <li style="color:#3C3C3C">
                <%= data %>
              </li>
            </ul>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Launch demo modal
                        </button> -->
            <a href="/register">
              <button class="btn btn-primary" style="border-radius: 100px"> Register Here as Blood Bank </button>
            </a>
            <a href="/searchit">
              <button class="btn btn-primary" style="border-radius: 100px"> Search for Blood </button>
            </a>
          </div>
          <div class="col-lg-5">
            <div>
              <img src="./assets/img/file.svg" alt="" height="800px">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div> -->
    </div>

  </div>
  <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.0.0"></script>
</body>

</html>
